
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Resete Padrao*/
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
   background-color: aqua;
    scroll-behavior: smooth; /* Suave ao clicar em links*/
    transition: all 0.5 ease;/*trasisção suave de estilos*/
}
.cabeçalho{
    background-color: blue;
    text-align: center;
    padding: 10px; 
    color: beige;
    position: sticky; /* fixar o header ao rolar*/
    top: 0;/*distancia do topo ao header*/
    z-index: 10;/*ficar acima de todos os elementos*/
    }
    .cabeçalho h1{
       color: rgb(239, 237, 241);
        margin-bottom: auto;
    }
    .cabeçalho p{
        color: rgb(0, 255, 98);
        margin-bottom: auto;
    }
    .container{ /* container como grid*/
        display: grid;
        gap:20px;
        padding: 40px 20px;
        min-height:100vh;
        transition: all 0.3s ease;
    }
    .card{
        display: flex;
        background-color: rgb(113, 4, 214);
        border-radius: 10px;
        font-size: 1.2em;
        height: 150px;
        font-weight: bold; /* fonte em negrito*/
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
    }
    /*=================
    1️⃣ Mobile (até 600px)
    */
    @media(max-width:600px){
        body{
            background-color: rgb(45, 216, 29);
        }
        .cabeçalho{
            background-color: blueviolet;
        }
        .card{
            background-color: bisque;
        }
        .cabeçalho h1::after{
            content: "(Mobile)"; /*add comentario direto no css*/
        }
        .container{
            grid-template-columns: 1fr; /*grid com uma coluna*/
        }
    }
    /*=================
    2️⃣ tablet (601px a 1024px)
    */
    @media(min-width:601px) and (max-width:1024px){
        body{
            background-color: rgb(243, 60, 5);
        }
        .cabeçalho h1::after{
            content: "(Tablet)"; /*add comentario direto no css*/
        }
        .card{
            background-color: rgb(101, 44, 233);
        }
        .container{
            grid-template-columns: repeat(3,1fr); /*grid com uma coluna*/
    }
       /*=================
    3️⃣ Desktop (a partir de 1025px)
    */
    @media(min-width:1225px){
        .cabeçalho h1::after{
            content: "(Tablet)"; /*add comentario direto no css*/
        }
        .card{
            background-color: rgb(101, 44, 233);
        }
        .container{
            grid-template-columns: repeat(4,1fr); /*grid com uma coluna*/
        }
        .cabeçalho h1::after{
            content: "(Desktop)"; /*add comentario direto no css*/
        }
    }
     
    