* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    background-color: rgb(27, 92, 92);
    border: none;
    padding: 8px;
    margin: 4px;
    border-radius: 12px;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 12px;
}

h1 {
    color: white;
}

.vrfc {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    width: 300px;
    height: 200px;
    justify-self: center;
}

.ss1 {
    padding: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn2 {
    border: none;
    padding: 7px;
    margin: 9px;
    border-radius: 4px;
    width: 100%;
}
input{
    border-radius: 7px;
    padding: 12px;
    margin: 5px;
    border: none;
    width: 100%;

}
h2{
    color: blue;
}