*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 200px;
}
button{
    background-color: green;
    padding: 8px;
    border-radius: 8px;
    border: none;
    border-color: rgb(71, 30, 108);  
}
h1{
    margin: 12px;
}
@media (max-width:550px) {
  body{
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
}