@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}

header nav {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin: 12px;
}

.logo {
    margin-left: 12px;
}

a {
    text-decoration: none;
    color: bisque;
}

a:hover {
    background-color: brown;
    border-radius: 9px;
    padding: 4px;

    color: rgb(252, 252, 252);
}

.btn {
    background-color: green;
    border: none;
    padding: 6px;
    margin: 12px;
    border-radius: 7px;
    color: bisque;
    cursor: pointer;
    font-size: 12px;
}

.rodape {
    text-align: center;
    color: blue;
}

.opcao {
    background-color: blue;
    width: 300px;
    height: 400px;
    margin: 1rem;
    border-radius: 9px;

}

.opcao img {
    width: 280px;
    padding: 20px;
    border-radius: 9px;

}

.opcoes {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;


}

/* SOBRE */
#sobre p {
    text-align: center;
    margin: 12px;
}

/* RESPONSIV0 MOBILE */
@media(max-width: 550px) {
    .opcoes {
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
    }

    header {
        display: flex;
        justify-content: center;
        gap: 12px;
        justify-content: center;
        align-items: center;
        background-color: red;

    }

}

/* RESPONSIV0 TABLET */
@media(min-width: 550px)and (max-width:1024px) {
    .opcoes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
}