*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;

}
.navbar{
    background-color: rgb(30, 30, 179);
    justify-content: center;
    display: flex;
    padding: 8px;
    position: static;
}
.link{
    text-decoration: none;
    color: beige;
    margin: 12px;
}
a:hover{
    background-color: blueviolet;
    padding: 4px;
}

main{
    padding:2rem;
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    
}
button{
    padding:6px;
    margin: 2px;
    background-color: green;
    border: none;
    border-radius: 6px;
}
button:hover{
    background-color: rgb(12, 151, 19);
    color: bisque;

}
body{
    align-items: center;
    text-align: center;
}